.wrapper
    width 100px
    height 300px
    .input
        box-sizing: border-box
        .result
            display flex
            justify-content: flex-end
            border: 1px solid
        .inputText
            width 100%
            box-sizing: border-box
    .numbersAndOperations
        display: flex
        .numbers
            display: flex
            flex-wrap: wrap

    .operations
        display: flex
        flex-direction: column
